$primaryColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.post {
  text-align: center;
  margin: 3rem auto;
  width: 1000px;
  height: auto;
  color: $darkText;
  font-family: $secondaryFont;

  .mainImage {
    height: 800px;
    width: 900px;
    border: solid 4px $darkText;
    box-shadow: -6px 10px 6px -6px black;
  }

  h1 {
    font-family: $primaryFont;
    font-size: 48px;
  }
}

.author {
  font-family: $secondaryFont;
  font-size: 18px;
}

.backButton {
  text-align: center;
  margin: 2rem auto;

  a {
    text-decoration: none;
    font-size: 30px;
    margin: auto 1rem;
    color: $darkText;
  }

  a:focus {
    color: $darkText;
  }
}

.icons {
  margin: auto 0.5rem;

  color: $darkText;
}

.icons:hover {
  cursor: pointer;
}

.content {
  width: 900px;
  margin: 3rem;
}

.blogBody {
  text-align: start;
  margin: 4rem auto;
}

.relatedHeader {
  font-family: $primaryFont;
  color: $darkText;
  margin-top: 9.5rem;
  border-bottom: solid 4px $darkText;
  box-shadow: 0px 10px 6px -6px black;

  h3 {
    font-size: 26px;
  }
}

.published {
  font-size: 18px;
  font-family: $secondaryFont;
}

.relatedBooks {
  display: flex;
  justify-content: center;
  align-items: center;

  // background-image: url("../images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg");
  // background-size: cover;

  ul {
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 1.5rem;
  }
}

.arrow {
  font-size: 70px;
  margin: 0 10rem;
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.arrow:active {
  transition: width 1s;
}

.blogBody {
  p {
    font-size: 32px;
    line-height: 3.25rem;
    font-family: $secondaryFont;
  }
}
