$primaryColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.visibleBooks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $darkText;
  padding: 2rem;
  margin-bottom: 0;
  min-height: 1200px;
}

.noBooks {
  height: 1200px;
  background-color: $darkText;
  padding: 1rem;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;

  h4 {
    color: $darkText;
    font-family: $secondaryFont;
  }
}

.orCont {
  display: none;
}

.select {
  font-family: $secondaryFont;
  width: 450px;
  text-align: center;

  h3 {
    font-size: 28px;
    font-family: $secondaryFont;
  }

  select {
    background-color: $secondaryColor;
    position: relative;
    width: 200px;
    height: 45px;
    color: white;
    font-family: $secondaryFont;
    font-size: 18px;
    margin: 0 0.5rem;
  }

  .option {
    font-family: $secondaryFont;
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  select:focus {
    outline: none;
  }

  select:hover {
    cursor: pointer;
    box-shadow: 0 10px 6px -6px black;
    transform: scale(1.05);
  }
}

.selectDropdown {
  display: flex;
  justify-content: center;
}

.results {
  text-align: center;
  margin-top: 2.5rem;
  font-family: $primaryFont;
  color: $darkText;
  font-size: 22px;
}

.searchBar {
  padding-left: 0.5rem;
  font-size: 18px;
  font-family: $secondaryFont;
  height: 45px;
  width: 350px;
  border-radius: 6%;
}

.searchBar:focus {
  outline: none;
  border: solid 4px $secondaryColor;

  box-shadow: 0 10px 6px -6px black;
  transform: scale(1.05);
  text-decoration-color: #15b6b8;
}

.searchBar:hover {
  cursor: pointer;

  box-shadow: 0 10px 6px -6px black;
  transform: scale(1.05);
}

.searchBtn {
  height: 41px;
  width: 41px;
  background-color: $secondaryColor;
  margin-left: 1rem;
  border-radius: 50%;
  color: white;
}
.searchBtn:focus {
  outline: none;
}

.searchBtn:hover {
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
  transform: scale(1.1);
  border: solid 2px $primaryColor;
}

.searchContainer {
  width: 450px;
  text-align: center;

  h3 {
    font-size: 28px;
    font-family: $secondaryFont;
  }
}

.noResults {
  margin: 2rem;
  text-align: center;
  color: white;

  h3 {
    font-family: $primaryFont;
    font-size: 44px;
    margin-top: 5rem;
  }

  p {
    margin-top: 5rem;
    font-family: $secondaryFont;
    font-size: 28px;
  }
}

.icons {
  margin-top: 5rem;
  font-size: 60px;
}

.icons:hover {
  cursor: pointer;
}

.select-css {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1250) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
  .header {
    display: block;
  }

  .results {
    h2 {
      font-size: 24px;
    }
  }

  .select {
    font-family: $secondaryFont;
    width: 100%;
    text-align: center;

    select {
      background-color: $secondaryColor;
      position: relative;
      width: 125px;
      height: 35px;
      color: white;
      font-family: $secondaryFont;
      font-size: 18px;
      text-align: center;
    }
  }

  .searchContainer {
    margin: 1.75rem auto;
    width: 100%;
    text-align: center;
  }

  .orCont {
    display: block;
    margin-top: 1.75rem;
    width: 100%;
    text-align: center;
    font-family: $secondaryFont;
  }

  .visibleBooks {
    padding: 0.5rem;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .noResults {
    h3 {
      font-size: 24px;
      line-height: 2rem;
    }
    p {
      font-size: 18px;
      line-height: 2rem;
    }
  }
}
