$mainColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.body {
  width: 100%;
  img {
    transition: opacity 1s;
    height: 800px;
    width: 100%;
    opacity: 1;
  }
}

.body:hover {
  img {
    opacity: 0.5;
    transition: opacity 1s;
  }

  .content {
    opacity: 1;
    display: block;

    img {
      opacity: 1;
    }
  }
}

.content {
  transition: ease;
  opacity: 0;
  display: none;
  color: $darkText;
  width: 800px;
  height: auto;
  position: absolute;
  top: 7%;
  left: 30%;
  text-align: center;
  h1 {
    font-family: $primaryFont;
    font-size: 36px;
  }

  img {
    opacity: 1;
    width: 350px;
    height: 300px;
    margin: 1rem;
    border: solid 4px $darkText;
  }

  span {
    font-family: $secondaryFont;
    color: $darkText;
  }
  span:hover {
    cursor: pointer;
  }
}
.icons {
  margin: 0 0.5rem;
  font-size: 18px;
  color: $darkText;
}

.icons:hover {
  cursor: pointer;
}

.contentTitle {
  font-size: 24px;
  font-family: $primaryFont;
}

// .contentTitle:hover {
//   cursor: pointer;
// }

.contentBody {
  margin: 2rem auto;
  width: 400px;

  p {
    line-height: 1.75rem;
    font-size: 18px;
    font-family: $secondaryFont;
    font-style: italic;
  }
}

.contentFooter {
  font-family: $secondaryFont;
  a {
    text-decoration: none;
    color: $darkText;
  }
}

.footerButton {
  font-size: 28px;
}

.footerButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1750px) {
  .body {
    width: 100%;
    img {
      height: 800px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 6%;
    left: 25%;
    text-align: center;
    h1 {
      font-size: 36px;
    }

    img {
      width: 350px;
      height: 300px;
      margin: 1rem;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .body {
    width: 100%;
    img {
      height: 650px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 4%;
    left: 18%;
    text-align: center;
    h1 {
      font-size: 36px;
    }

    img {
      width: 250px;
      height: 200px;
      margin: 1rem;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .body {
    width: 100%;
    img {
      height: 500px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 4%;
    left: 17%;
    text-align: center;
    h1 {
      font-size: 30px;
      margin-top: 1.75rem;
      margin-bottom: 0;
    }

    img {
      width: 250px;
      height: 200px;
      margin: 0.5rem;
    }
  }

  .contentTitle {
    margin: 0.75rem;
  }

  .contentBody {
    margin: 0.75rem auto;
    width: 400px;

    p {
      max-height: 100px;
      height: 100px;
      overflow: scroll;
      line-height: 1.5rem;
      font-size: 18px;
      font-family: $secondaryFont;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    top: 4.75%;
    left: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .body {
    width: 100%;
    img {
      height: 375px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 6%;
    left: 3%;
    width: 700px;
    text-align: center;
    h1 {
      font-size: 36px;
    }

    img {
      width: 250px;
      height: 200px;
      margin: 1rem;
    }
  }

  .headerWrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 480px) {
  .body {
    width: 100%;
    img {
      height: 225px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 1.6%;
    left: 5%;
    text-align: center;
    width: 350px;
    h1 {
      font-size: 16px;
    }

    img {
      width: 150px;
      height: 100px;
      margin: 0.5rem;
    }
  }

  .headerWrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;

    .contentTitle {
      font-size: 16px;
      margin: 0.25rem;
    }

    span {
      font-size: 14px;
    }

    .icons {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      line-height: 1;
    }

    .contentBody {
      width: 150px;
    }
  }

  .footerButton {
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .body {
    width: 100%;
    img {
      height: 225px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 1.6%;
    left: 2.5%;
    text-align: center;
    width: 350px;
    h1 {
      font-size: 16px;
    }

    img {
      width: 150px;
      height: 100px;
      margin: 0.5rem;
    }
  }

  .headerWrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;

    .contentTitle {
      font-size: 16px;
      margin: 0.25rem;
    }

    span {
      font-size: 14px;
    }

    .icons {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      line-height: 1;
    }

    .contentBody {
      width: 150px;
    }
  }

  .footerButton {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .body {
    width: 100%;
    img {
      height: 225px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 1.6%;
    left: 1.85%;
    text-align: center;
    width: 350px;
    h1 {
      font-size: 16px;
    }

    img {
      width: 150px;
      height: 100px;
      margin: 0.5rem;
    }
  }

  .headerWrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;

    .contentTitle {
      font-size: 16px;
      margin: 0.25rem;
    }

    span {
      font-size: 14px;
    }

    .icons {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      line-height: 1;
    }

    .contentBody {
      width: 150px;
    }
  }

  .footerButton {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .body {
    width: 100%;
    img {
      height: 225px;
      width: 100%;
    }
  }

  .content {
    position: absolute;
    top: 2.2%;
    left: -2.5%;
    text-align: center;
    width: 350px;
    h1 {
      font-size: 14px;
    }

    a:first-child {
      height: 100px;
    }

    img {
      width: 140px;
      height: 100px;
      margin: 0.25rem;
    }
  }

  .headerWrapper {
    margin: 0.25rem auto;
    display: flex;
    justify-content: space-evenly;

    .contentTitle {
      font-size: 14px;
      margin: 0.25rem;
    }

    span {
      font-size: 12px;
    }

    .icons {
      font-size: 14px;
    }

    p {
      font-size: 12px;
      line-height: 1;
    }

    .contentBody {
      width: 135px;
    }
  }

  .footerButton {
    font-size: 18px;
  }
}
