$primaryColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.container {
  width: 100%;
}

.blogHeader {
  display: flex;
  justify-content: center;

  div {
    width: 600px;
    text-align: center;
    margin: 3rem auto;
    font-family: $secondaryFont;
    h1 {
      font-family: $primaryFont;
      font-size: 48px;
    }

    p {
      line-height: 2.75rem;
      font-size: 22px;
    }
  }
}

.visiblePosts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 2rem;
  margin: 0 2rem;
  height: auto;
}

.noPosts {
  height: 1000px;
  background-color: white;
  padding: 1rem;
  margin: 0;
}

.noResults {
  text-align: center;
  margin-top: 3rem;

  h3 {
    margin-top: 2rem;
    font-family: $secondaryFont;
    color: $darkText;
    font-size: 32px;
  }
  p {
    margin-top: 4rem;
    font-family: $secondaryFont;
    color: $darkText;
    font-size: 22px;
  }
}

.mailIcon {
  margin-top: 3rem;
  font-size: 68px;
  color: $darkText;
}

.mailIcon:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;

  h4 {
    color: $darkText;
    font-family: $secondaryFont;
  }
}

.orCont {
  display: none;
}

.selectContainer {
  display: flex;
  justify-content: start;
}

.select {
  font-family: $secondaryFont;
  width: 450px;
  text-align: start;

  h3 {
    font-size: 28px;
  }

  select {
    background-color: $secondaryColor;
    position: relative;
    width: 200px;
    height: 35px;
    color: white;
    font-family: $secondaryFont;
    font-size: 18px;
  }

  .option {
    font-family: $secondaryFont;
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  select:focus {
    outline: none;
  }

  select:hover {
    cursor: pointer;
    box-shadow: 0 10px 6px -6px black;
    transform: scale(1.05);
  }
}

.subCategory {
  font-family: $secondaryFont;
  width: 175px;
  text-align: center;
  display: flex;
  align-items: center;

  select {
    background-color: $secondaryColor;
    position: relative;
    width: 175px;
    height: 35px;
    color: white;
    font-family: $secondaryFont;
    font-size: 18px;
    margin: 0 1rem;
  }

  .option {
    font-family: $secondaryFont;
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  select:focus {
    outline: none;
  }

  select:hover {
    cursor: pointer;
    box-shadow: 0 10px 6px -6px black;
    transform: scale(1.05);
  }
}

.results {
  text-align: center;
  margin-top: 6.5rem;
  font-family: $primaryFont;
  color: $darkText;
  font-size: 22px;
}

.searchBar {
  padding-left: 0.75rem;
  font-size: 18px;
  font-family: $secondaryFont;
  height: 45px;
  width: 100%;
  border-radius: 100px;
  background-color: whitesmoke;
}

.searchBar:focus {
  outline: none;
  border: solid 4px $secondaryColor;

  box-shadow: 0 10px 6px -6px black;
  transform: scale(1.01);
  text-decoration-color: #15b6b8;
}

.searchBar:hover {
  cursor: pointer;

  box-shadow: 0 10px 6px -6px black;
  transform: scale(1.01);
}

.searchBtn {
  height: 41px;
  width: 41px;
  background-color: $secondaryColor;
  margin-left: 1rem;
  border-radius: 50%;
  color: white;
}
.searchBtn:focus {
  outline: none;
}

.searchBtn:hover {
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
  transform: scale(1.1);
  border: solid 2px $primaryColor;
}

.searchContainer {
  width: 450px;
  text-align: center;

  h3 {
    font-size: 28px;
  }
}

.select-css {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1250) {
}

@media only screen and (max-width: 768px) {
  .blogHeader {
    div {
      margin: 2.5rem 0 6rem 0;
      h1 {
        font-size: 30px;
        margin-bottom: 2.5rem;
      }
      p {
        font-size: 18px;
        line-height: 1.75rem;
        margin: 1.5rem;
      }
    }
  }

  .header {
    align-items: center;
  }

  .select {
    font-family: $secondaryFont;
    width: 300px;
    text-align: center;

    h3 {
      font-size: 20px;
    }

    select {
      background-color: $secondaryColor;
      position: relative;
      width: 150px;
      height: 35px;
      color: white;
      font-family: $secondaryFont;
      font-size: 18px;
      text-align: center;
    }
  }

  .selectContainer {
    justify-content: center;
  }

  .searchContainer {
    margin: 0;
    width: 300px;
    text-align: center;
    h3 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .blogHeader {
    div {
      margin: 2rem 0 6rem 0;
      h1 {
        font-size: 24px;
        margin-bottom: 2rem;
      }
      p {
        font-size: 14px;
        line-height: 1.75rem;
        margin: 1rem;
      }
    }
  }

  .visiblePosts {
    margin: 0;
  }

  .header {
    display: block;
  }

  .select {
    font-family: $secondaryFont;
    width: 100%;
    text-align: center;

    h3 {
      font-size: 16px;
    }

    select {
      background-color: $secondaryColor;
      position: relative;
      width: 150px;
      height: 35px;
      color: white;
      font-family: $secondaryFont;
      font-size: 18px;
      text-align: center;
    }
  }

  .selectContainer {
    justify-content: center;
    margin: 1.25rem 0;
  }

  .results {
    margin: 6rem auto 0 auto;

    h2 {
      font-size: 22px;
      margin: 1rem;
    }

    p {
      font-size: 16px;
    }
  }

  .searchContainer {
    margin: 1.75rem auto;
    width: 100%;
    text-align: center;
    h3 {
      font-size: 16px;
      margin: 1.25rem;
    }
  }

  .noResults {
    p {
      font-size: 18px;
    }
  }

  .noPosts {
    height: 500px;
  }

  .searchBar {
    width: 350px;
  }

  .orCont {
    display: block;
    margin-top: 1.75rem;
    width: 100%;
    text-align: center;
    font-family: $secondaryFont;
  }

  .visibleBooks {
    padding: 0.5rem;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
