$mainColor: #15b6b8;
* {
  box-sizing: border-box;
}

.book {
  height: 475px;
  width: 400px;
  padding: 1rem;
  background-color: #353c51;
  border: solid 4px $mainColor;
  border-radius: 3%;
  text-align: center;
  box-shadow: -6px 10px 6px -6px black;
  margin: 1rem;
  color: white;

  h3 {
    font-weight: 900;
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
  }
}

.book:hover {
  transform: scale(1.01);
}

.bookBody {
}

.footer {
  display: flex;
  justify-content: space-around;
}

.imageContainer {
  height: 350px;
  width: 350px;
  border: solid 4px $mainColor;
  border-radius: 3%;
  img {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
}

.imageContainer:hover {
  img {
    opacity: 0.2;
  }

  .imageMiddle {
    opacity: 1;
  }
}

.imageMiddle {
  transition: 0.5s ease;

  opacity: 0;
  position: absolute;

  text-align: center;

  width: 350px;
  height: 200px;
  margin-top: -10rem;

  button {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem;
    background-color: #15b6b8;
    height: 45px;
    width: 100px;
    border-radius: 8%;
    border: solid 3px white;
    color: white;
  }

  button:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 6px -6px black;
    cursor: pointer;
  }

  button:active {
    outline: none;
  }

  button:focus {
    outline: none;
  }
}

.blog {
  display: block;
}

.author {
  margin: 0 0.25rem;
  font-family: Apple Chancery, cursive;
}
