$primaryColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.header {
  display: flex;
  justify-content: center;
  margin: 3rem auto;

  h1 {
    font-size: 40px;
    font-family: $primaryFont;
  }
}

.firstAuthor {
  display: flex;
  justify-content: flex-start;
  margin: 2.5rem auto;
  align-items: center;
  width: 100%;
}

.secondAuthor {
  display: flex;
  justify-content: center;
  margin: 2.5rem auto;
  align-items: center;
  width: 100%;
}

.thirdAuthor {
  display: flex;
  justify-content: flex-end;
  margin: 2.5rem auto;
  align-items: center;
  width: 100%;
}

.bioPhoto {
  text-align: center;
  width: 500px;
  margin: 2.5rem;
  img {
    margin: 1.5rem 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }

  p {
    font-family: $secondaryFont;
    line-height: 2.5rem;
    font-size: 18px;
  }
}

.bioGeneral {
  margin: 1.5rem;
  p {
    font-size: 26px;
    font-family: $secondaryFont;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 26px;
  margin: 0.5rem;
}
