$primaryColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

.container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $secondaryFont;
}

.imgContainer {
  img {
    width: 1000px;
    height: 800px;
    box-shadow: -6px 10px 6px -6px black;
  }
}

.bio {
  width: 1000px;

  h3 {
    margin: 2rem auto;
    font-size: 3rem;
    font-family: $primaryFont;
  }

  p {
    margin: 3.5rem 1.5rem;
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.contact {
  display: flex;
  justify-content: center;
}

.instagram {
  color: black;
}

.icons {
  font-size: 4rem;
  margin: 0 2rem;
}

.icons:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    img {
      width: 700px;
      height: 500px;
      box-shadow: -6px 10px 6px -6px black;
    }
  }

  .bio {
    width: 700px;

    h3 {
      margin: 2rem auto;
      font-size: 2.25rem;
      font-family: $primaryFont;
    }

    p {
      margin: 3.5rem 1.5rem;
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }

  .icons {
    font-size: 3rem;
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .imgContainer {
    img {
      width: 350px;
      height: 225px;
      box-shadow: -6px 10px 6px -6px black;
    }
  }

  .bio {
    width: 350px;

    h3 {
      margin: 2rem auto;
      font-size: 2rem;
      font-family: $primaryFont;
    }

    p {
      margin: 3.5rem 1.5rem;
      font-size: 1.25rem;
      line-height: 2.25rem;
    }
  }

  .icons {
    font-size: 3rem;
    margin: 0 2rem;
  }
}
