$mainColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;
$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

body {
  background-color: $backgroundColor;
}

.header {
  display: flex;
  justify-content: center;
  font-family: $primaryFont;
  font-weight: 900;
  font-size: 34px;
  color: $darkText;
  p {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    font-family: $secondaryFont;
  }

  margin-bottom: 6rem;
}

@media only screen and (max-width: 1500px) {
  .header {
    font-size: 30px;
    p {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .header {
    font-size: 26px;
    p {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 20px;
    p {
      font-size: 20px;
    }
  }
  body {
    background-color: white;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    margin: 0.5rem;
    font-size: 18px;
    text-align: center;
    p {
      font-size: 16px;
    }
  }
}
