$mainColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;
$secondaryFont: Optima, sans-serif;
$primaryFont: Trebuchet MS, sans-serif;

body {
  background-color: $backgroundColor;
}

.header {
  display: flex;
  justify-content: center;
  font-family: $primaryFont;
  font-weight: 900;
  font-size: 26px;
  color: $darkText;
  p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    font-family: $secondaryFont;
  }

  margin-bottom: 6rem;
}
