$mainColor: #9fd2cb;
$secondaryColor: #d29b6c;
$textColor: #f4b9a9;
$darkText: #263147;
$backgroundColor: #a6a9a9;

.container {
  margin: 0 auto;
  max-width: 2000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  flex-grow: 1;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 1750px) {
  .container {
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1500px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1250px) {
  .container {
    margin: 0 auto;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 650px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 480) {
  .container {
    margin: 0 auto;
    max-width: 460px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
